.navbar{ background:#2B9BFF;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #2B9BFF; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
 justify-content: flex-end;
}

body{
	background-image: url("https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501_960_720.jpg");
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.bg-dark{
background-color:#343a40!important
}
.bg-primary{
background-color:#007bff!important
}
/*header style*/
.header{
 background-image: url("https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501_960_720.jpg");
 background-attachment: fixed;
 background-size: cover;
 background-position: center;

}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#2B9BFF ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #2B9BFF;
 background:#2B9BFF;
 color:#fff;
}
.modal-title {
	color:#666;
}
.modal-body{
	color:#666;
    font-size: small;
}

#a1{
    font-size: 15px;
}

/*kjdhskjnhksjhnskjdhksanjdjsknhfkdsjfndskjfnskjnfsd */

