* {
  box-sizing: border-box;
}

body {
   font-family: 'Varela Round', 'Quicksand', sans-serif;
  background-color: #800020;
}

.postcard {
  width: 800px;
  height: 500px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: .8em .8em 15px rgba(0,0,0,.3);
   -ms-transform: rotate(2.5deg); /* IE 9 */
    -webkit-transform: rotate(2.5deg); /* Chrome, Safari, Opera */
    transform: rotate(2.5deg);
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #f7f7f7;
  margin-bottom: -15px;
}

p {
  display: inline;
  font-size: 1.3em;
}

/*animation*/
.postcard:hover,
.postcard:active,
.postcard:focus{
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;


}

/*form*/
input,
textarea {
  border: none;
  border-radius: 4%;
  height: 1.9em;
  padding: .7em;
  font-size: 1.3em;
  font-family: 'Varela Round', 'Quicksand', sans-serif;
}

input:focus,
textarea:focus {
   outline-color: pink;
}

.mail_stamp {
  width: 100px;
  float: right;
}

#address {
  text-decoration: underline;
}

textarea {
  overflow: auto;
  resize: none;
  height: 10em;
  width: 17em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.push{
  margin-bottom: 1em;
  margin-top: .5em;
}

#recipient_email{
  margin-top: 4.5em;
  margin-bottom: 1.5em;
}

/*footer*/
footer {
  margin: 2em auto;
  text-align: center;
  font-family: 'Varela Round', 'Quicksand', sans-serif;
  color: white;
}

footer p {
  font-size: 1em;
  letter-spacing: 1px;
}


